vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|18 Dec 2016 07:27:50 -0000
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|menu5.html main5-2.htm main5-1.htm
vti_author:SR|WIN7USE-3GAUWSD\\Administrator
vti_modifiedby:SR|TW14\\Administrator
vti_timecreated:TR|27 Jan 2016 13:00:59 -0000
vti_nexttolasttimemodified:TW|18 Dec 2016 07:26:09 -0000
vti_cacheddtm:TX|18 Dec 2016 07:27:50 -0000
vti_filesize:IR|3708
vti_cachedlinkinfo:VX|S|mainbk.png S|mainbk.png S|mainbk.png S|arrowsub.gif S|mainbk.png
vti_cachedsvcrellinks:VX|FSUS|menu5_files/css3menu1/mainbk.png FSUS|menu5_files/css3menu1/mainbk.png FSUS|menu5_files/css3menu1/mainbk.png FSUS|menu5_files/css3menu1/arrowsub.gif FSUS|menu5_files/css3menu1/mainbk.png
