vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|24 Dec 2016 06:46:15 -0000
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|narrative.html NMenu.html narrative3.html narrative4.html narrative2.html
vti_author:SR|WIN7USE-24M8B9A\\Administrator
vti_modifiedby:SR|WIN7USE-24M8B9A\\Administrator
vti_timecreated:TR|24 Dec 2016 06:58:04 -0000
vti_cacheddtm:TX|24 Dec 2016 06:58:04 -0000
vti_filesize:IR|3457
vti_cachedlinkinfo:VX|S|mainbk.png S|mainbk.png S|mainbk.png S|mainbk.png
vti_cachedsvcrellinks:VX|FSUS|NMenu_files/css3menu1/mainbk.png FSUS|NMenu_files/css3menu1/mainbk.png FSUS|NMenu_files/css3menu1/mainbk.png FSUS|NMenu_files/css3menu1/mainbk.png
