vti_encoding:SR|utf8-nl
vti_author:SR|WIN7USE-3GAUWSD\\Administrator
vti_modifiedby:SR|TW14\\Administrator
vti_timelastmodified:TR|09 Dec 2016 21:17:30 -0000
vti_timecreated:TR|05 Dec 2015 08:45:03 -0000
vti_extenderversion:SR|6.0.2.5516
vti_backlinkinfo:VX|main2-2-5.html main2-2-6.html main2-2-7.html top_複本(1).html main1-1_複本(1).html main1-3_複本(1).html main2-2-2.html main2-2-3.html main2-2-4.html main2-2-1.html index_複本(1).html narrative.html main1-4.html main1-5.html main1-6.html main1-7.html main1-2.html main6-1.html main1-1.html map.html index.html main1-1_複本(2).html narrative2.html main2-1.html main2-2.html new_page_1.htm main3-1_複本(1).html main3-1.html main4-1.html main5-1.html main1-1_複本(3).html narrative3.html narrative4.html
vti_nexttolasttimemodified:TW|28 Dec 2015 09:55:50 -0000
vti_cacheddtm:TX|09 Dec 2016 21:17:30 -0000
vti_filesize:IR|4836
