vti_encoding:SR|utf8-nl
vti_author:SR|WIN7USE-3GAUWSD\\Administrator
vti_modifiedby:SR|WIN7USE-24M8B9A\\Administrator
vti_timelastmodified:TR|22 Jan 2017 11:02:01 -0000
vti_timecreated:TR|05 Dec 2015 08:45:03 -0000
vti_extenderversion:SR|6.0.2.6551
vti_backlinkinfo:VX|main2-2-6.html main2-2-5.html main2-2-7.html main1-3.htm main1-4.htm main2-2-2.html main2-2-4.html main2-2-3.html main2-2-1.html main4-4.htm main1-1.htm main1-2.htm main1-7.html main1-5.html main1-6.html narrative.htm main4-2.htm main4-3.htm narrative3.htm narrative4.htm main4-1.htm main2-3.htm narrative2.htm main6-1.html main3-2.htm main3-1.htm index.htm main2-2.htm new_page_1.htm main2-1.htm map.htm main5-2.htm main3-3.htm main5-1.htm
vti_nexttolasttimemodified:TR|09 Dec 2016 21:17:30 -0000
vti_cacheddtm:TX|22 Jan 2017 11:02:01 -0000
vti_filesize:IR|4949
